.CreateTodoButton {
    background-color: #F2D5DB;
    box-shadow: 0px 3px 12px #65648C;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #2E2D59;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
  
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
  }
  
  .CreateTodoButton:hover {
    transform: rotate(224deg);
  }
  .CreateTodoButton img {
    width: 34px;
  }